include mixins/_menu
include mixins/_breadcrumbs

doctype html
html
	head
		title= title
		link(rel='stylesheet' type="text/css" href="/css/style.css")
	body
		+menu
		+breadcrumbs(slug)
		block content
			!= matter
		img(src="/images/house.png")
		script(src='scripts/foo.js')
		script(src='scripts/bar.js')